<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,53},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,53},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,22},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d186de6c57a5d4a8d878cc2cda452b12:6f8be3c07fc2ec51a2403c5180edf43d:fcaa38ab3073044ae7fc86ca051af0c0$</string>
            <key>textureFileName</key>
            <string>cat.png</string>
        </dict>
    </dict>
</plist>
