<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_damaged-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,406},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_damaged-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,403},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_damaged-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,455},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_damaged-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,403},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_damaged-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,306},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_damaged-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,303},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_normal-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,355},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_normal-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,303},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_normal-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,255},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_normal-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,206},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_normal-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,203},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>attack_normal-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,106},{94,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,103},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{44,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,179}}</string>
                <key>sourceSize</key>
                <string>{44,179}</string>
            </dict>
            <key>chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,146},{16,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,74}}</string>
                <key>sourceSize</key>
                <string>{16,74}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,137},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>damaged-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,702},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>damaged-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,699},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>damaged-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,751},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>damaged-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,699},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>damaged-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,604},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>damaged-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,601},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>destroyed.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,103},{94,96}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,181},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,54},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>explosion-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,4},{96,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>explosion-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,792},{94,85}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{94,85}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>explosion-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,158},{96,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{96,91}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>explosion-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,883},{88,93}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{88,93}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>explosion-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,800},{84,89}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{84,89}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>explosion-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,800},{74,75}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{74,75}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>explosion-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,800},{74,73}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{74,73}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>explosion-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,890},{72,73}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{72,73}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>explosion-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,116},{64,59}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{64,59}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>explosion-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,181},{1,1}}</string>
                <key>offset</key>
                <string>{-50.5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,200},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,71},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,106},{680,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,8}}</string>
                <key>sourceSize</key>
                <string>{680,8}</string>
            </dict>
            <key>mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,883},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>mineChain.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,4},{93,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,138}}</string>
                <key>sourceSize</key>
                <string>{93,138}</string>
            </dict>
            <key>normal-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,653},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>normal-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,601},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>normal-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,506},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>normal-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,503},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>normal-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,555},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>normal-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,503},{94,92}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,4},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>torpedo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,106},{102,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,46}}</string>
                <key>sourceSize</key>
                <string>{102,46}</string>
            </dict>
            <key>torpedo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,54},{102,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,46}}</string>
                <key>sourceSize</key>
                <string>{102,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>submarine.pvr</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7eeabe5cce2fa6cd27d64fb867d0dd6:a257461e9e31df71806f199a0d17e60b:0925bb834d0f863593c29f99712cd766$</string>
            <key>textureFileName</key>
            <string>submarine.pvr</string>
        </dict>
    </dict>
</plist>
