<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienBeige.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,461},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>alienBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,509},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>alienGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,463},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>alienPink.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,4},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>alienYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,461},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>bushAutumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,161},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>bushDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,135},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>bushGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,109},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>bushMagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,158},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>bushSand.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,132},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>bushSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,106},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>flowerBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,333},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>flowerGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,316},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>flowerRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,299},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>flowerWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,282},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>flowerYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,265},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>hillAutumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,301},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>hillDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,262},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>hillGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,223},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>hillMagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,184},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>hillSand.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,226},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>hillSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,187},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>pineAutumn_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,73},{30,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,99}}</string>
                <key>sourceSize</key>
                <string>{30,99}</string>
            </dict>
            <key>pineAutumn_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,148},{30,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,79}}</string>
                <key>sourceSize</key>
                <string>{30,79}</string>
            </dict>
            <key>pineAutumn_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,70},{30,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,101}}</string>
                <key>sourceSize</key>
                <string>{30,101}</string>
            </dict>
            <key>pineBlue_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,73},{30,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,99}}</string>
                <key>sourceSize</key>
                <string>{30,99}</string>
            </dict>
            <key>pineBlue_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,112},{30,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,79}}</string>
                <key>sourceSize</key>
                <string>{30,79}</string>
            </dict>
            <key>pineBlue_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,37},{30,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,101}}</string>
                <key>sourceSize</key>
                <string>{30,101}</string>
            </dict>
            <key>pineGreen_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,70},{30,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,99}}</string>
                <key>sourceSize</key>
                <string>{30,99}</string>
            </dict>
            <key>pineGreen_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,76},{30,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,79}}</string>
                <key>sourceSize</key>
                <string>{30,79}</string>
            </dict>
            <key>pineGreen_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,37},{30,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,101}}</string>
                <key>sourceSize</key>
                <string>{30,101}</string>
            </dict>
            <key>rockDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,605},{55,63}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>rockDirt_moss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,527},{57,63}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>rockDirt_moss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,542},{57,63}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>rockDirt_moss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,537},{57,63}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>rockSnow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,527},{57,63}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>rockSnow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,600},{55,63}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>rockSnow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,590},{55,63}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>rockStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,534},{55,63}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>rockStone_moss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,555},{57,63}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>rockStone_moss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,464},{57,63}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>rockStone_moss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,464},{57,63}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>smallRockDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,555},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>smallRockGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,521},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>smallRockSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,499},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>smallRockStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,464},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>tileAutumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,393},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileAutumn_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,393},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileAutumn_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,656},{55,57}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,390},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileDirt_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,390},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileDirt_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,656},{55,57}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,319},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileGrass_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,319},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileGrass_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,651},{55,57}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileLava.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,359},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileLava_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,322},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileLava_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,666},{55,57}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileMagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,322},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileMagic_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,251},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileMagic_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,661},{55,57}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileRock.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,251},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileRock_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,248},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileRock_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,651},{55,57}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileSand.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,248},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileSand_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,177},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileSand_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,618},{55,57}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,177},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileSnow_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,180},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileSnow_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,595},{55,57}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,180},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileStone_bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,255},{65,77}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileStone_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,109},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileStone_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,595},{55,57}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileWater.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,109},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileWater_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,106},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileWater_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,106},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileWater_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,590},{55,57}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>tileWood_bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,184},{65,77}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>treeAutumn_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,37},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>treeAutumn_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,430},{27,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,87}}</string>
                <key>sourceSize</key>
                <string>{27,87}</string>
            </dict>
            <key>treeAutumn_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,37},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>treeBlue_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,4},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>treeBlue_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,428},{27,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,87}}</string>
                <key>sourceSize</key>
                <string>{27,87}</string>
            </dict>
            <key>treeBlue_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,4},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>treeCactus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,499},{32,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,66}}</string>
                <key>sourceSize</key>
                <string>{32,66}</string>
            </dict>
            <key>treeCactus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,507},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>treeCactus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,461},{32,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,66}}</string>
                <key>sourceSize</key>
                <string>{32,66}</string>
            </dict>
            <key>treeGreen_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,4},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>treeGreen_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,326},{27,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,87}}</string>
                <key>sourceSize</key>
                <string>{27,87}</string>
            </dict>
            <key>treeGreen_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>waveLava.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,389},{33,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,10}}</string>
                <key>sourceSize</key>
                <string>{33,10}</string>
            </dict>
            <key>waveWater.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,350},{33,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,10}}</string>
                <key>sourceSize</key>
                <string>{33,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hextiles.pvr</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aed59954f48be24e54b28cafff56facd:f5cfecc5448df9781d9b102c9baf877a:2d8148d11f9b4cefd7c459897e3ef0a0$</string>
            <key>textureFileName</key>
            <string>hextiles.pvr</string>
        </dict>
    </dict>
</plist>
